[submodule "src/exception"]
	path = src/exception
    url = git@github.com:gisodal/exception
[submodule "src/quine-mccluskey"]
	path = src/quine-mccluskey
    url = git@github.com:gisodal/quine-mccluskey
[submodule "src/bn-to-cnf"]
	path = src/bn-to-cnf
    url = git@github.com:gisodal/bn-to-cnf
[submodule "src/bnc"]
	path = src/bnc
    url = git@github.com:gisodal/bnc
[submodule "src/bnmc"]
	path = src/bnmc
    url = git@github.com:gisodal/bnmc
[submodule "src/bddc"]
	path = src/bddc
    url = git@git@github.com:gisodal/bddc.git
